:root{
    --dotSize: 0.25rem;
    --stop1: 3%;
    --stop2: 60%;

    --stop11: 0.06rem;
    --stop22: 0.65rem;
}
html{
    body{
        &.app{
            --primary-text-color:#ffffff;
            --primare-nav-bg-color:#FF0066;

            --attract-bg-color-01:#c9de96;
            --attract-bg-color-02:#8ab66b;
            --attract-bg-color-03:#398235;

            --nav-grad-bg-color-01:#d37049;
            --nav-grad-bg-color-01:#851e08;

            //--name-extrude-color:#c7c7c7;
            --name-extrude-color:#851e08;
        }
    }
}
