html {
  position: relative;
  height: 100%;
}
html body {
  height: 100%;
  position: relative;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
html body.app {
  max-width: 100% !important;
  overflow-x: hidden;
  position: relative;
}
html body.app .header {
  z-index: 6;
}
html body.app .wrap {
  position: relative;
  height: 100%;
  z-index: 5;
  /*
  padding-bottom:80px;
  */
}
html body.app .wrap .section {
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
}
html body.app .wrap .section.platformer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  pointer-events: none;
}
html body.app .wrap .section.platformer #ninjaSprite {
  width: 95px;
  height: 95px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  font-width: bold;
}
html body.app .wrap .section.attract {
  min-height: 100% !important;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  pointer-events: all;
  background: #c9de96;
  background: -moz-radial-gradient(center, ellipse cover, #c9de96 0%, #8ab66b 44%, #398235 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #c9de96), color-stop(44%, #8ab66b), color-stop(100%, #398235));
  background: -webkit-radial-gradient(center, ellipse cover, #c9de96 0%, #8ab66b 44%, #398235 100%);
  background: -o-radial-gradient(center, ellipse cover, #c9de96 0%, #8ab66b 44%, #398235 100%);
  background: -ms-radial-gradient(center, ellipse cover, #c9de96 0%, #8ab66b 44%, #398235 100%);
  background: radial-gradient(ellipse at center, #c9de96 0%, #8ab66b 44%, #398235 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#c9de96", endColorstr="#398235",GradientType=1 );
}
html body.app .wrap .section.attract h1 {
  flex: 1 100%;
  text-align: center;
}
html body.app .wrap .section.attract h1.name {
  -webkit-transition: padding 0.1s linear;
  -moz-transition: padding 0.1s linear;
  -ms-transition: padding 0.1s linear;
  -o-transition: padding 0.1s linear;
  transition: padding 0.1s linear;
  font-family: "Russo One", sans-serif;
  text-align: left;
  flex: 1 100%;
  padding-top: 20px;
  font-size: clamp(20px, 15vw, 75px);
  font-weight: bold;
  font-style: italic;
  color: #c10000;
  /*color:#ffffff;*/
  text-shadow: 0 1px 0 #c7c7c7, 0 2px 0 #c7c7c7, 0 3px 0 #c7c7c7, 0 4px 0 #c7c7c7, 0 5px 0 #c7c7c7, 0 6px 0 #c7c7c7, 0 7px 0 #c7c7c7, 0 8px 0 #c7c7c7, 0 9px 0 #c7c7c7, 0 10px 0 #c7c7c7, 0 11px 0 #c7c7c7, 1px 15px 10px rgba(16, 16, 16, 0.3), 1px 20px 20px rgba(16, 16, 16, 0.2), 1px 25px 42px rgba(16, 16, 16, 0.2), 1px 30px 80px rgba(16, 16, 16, 0.3);
}
html body.app .wrap .section.attract .panel {
  /* width: 60vw; */
  height: auto;
  box-sizing: border-box;
  padding: 40px;
  width: 1600px;
  border-radius: 12px;
  background-color: gray;
  position: relative;
  overflow: hidden;
  opacity: 0;
  /*
  max-width: 100%;
  max-height: 90% ;
   */
  transform: translateY(-350px);
  max-height: 0;
  max-width: 0;
  background-image: linear-gradient(111.15deg, rgba(0, 96, 240, 0.4862745098), rgba(0, 4, 10, 0.6) 92.78%), linear-gradient(112.99deg, rgba(118, 175, 187, 0.9490196078) -19.03%, rgba(8, 33, 98, 0.9490196078) 102.17%);
  background-origin: padding-box, padding-box;
  background-position-x: 0, 0;
  background-position-y: 0, 0;
  background-repeat: repeat, repeat;
  background-size: cover, cover;
  color: #fff;
  border-top: 2px solid rgb(171, 194, 221);
  border-left: 1px solid rgb(110, 159, 216);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  transition: opacity 0.4s ease-out, max-height 0.75s ease-in, max-width 0.25s ease-in, translateY 0.4s, transform 0.4s !important;
  /*
  &:after{
      content: " ";
      position: absolute;
      z-index: -1;
      bottom: 57px;
      left: -297px;
      height: 10%;
      width: 99%;
      box-shadow: -12px 88px 15px 0 rgba(0, 0, 0, 0.35);
      transform: skewX(73deg);
  }
   */
}
html body.app .wrap .section.attract .panel .infoCont {
  transition: opacity 0.49s ease-out;
  opacity: 0;
}
html body.app .wrap .section.attract .panel.drop {
  transform: translateY(0);
}
html body.app .wrap .section.attract .panel.loaded {
  max-height: 1900px !important;
  max-width: 60% !important;
  opacity: 1;
}
html body.app .wrap .section.attract .panel.loaded .infoCont {
  opacity: 1;
}
html body.app .wrap .section.attract .panel.loaded.extended {
  transition: max-height 0.75s ease-in, max-width 0.25s ease-in, 0.3s ease !important;
}
html body.app .wrap .section.attract .panel.loaded .infoCont {
  text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 1px;
}
html body.app .wrap .section.attract .panel.loaded .infoCont h2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2) 58%), linear-gradient(143deg, rgb(255, 255, 255), rgb(124, 101, 161));
  background-clip: text;
  letter-spacing: -0.02em;
  padding-right: 0.04em;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 1px 2px #000000);
  text-shadow: none !important;
}
html body.app .wrap .section.attract #paneShadow {
  width: 536px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  height: 12px;
  position: absolute;
  bottom: 20%;
  z-index: -1;
  border-radius: 20px;
  /* box-shadow: -12px 88px 34px #000000; */
  /* box-shadow: 0 88px 34px #000000; */
  box-shadow: 0 88px 21px rgba(0, 0, 0, 0), 0 95px 40px rgba(0, 0, 0, 0), 0 98px 80px rgba(0, 0, 0, 0);
  transition: 0.33s ease-out;
  opacity: 0;
}
html body.app .wrap .section.attract #paneShadow.show {
  box-shadow: 0 88px 21px #000, 0 95px 40px #000, 0 98px 80px #000;
}
html body.app .wrap .section.attract #paneShadow.loaded {
  transition: 0.03s ease-out;
}
html body.app .wrap .section.attract:hover .panel.loaded {
  transition: max-height 0.75s ease-in, max-width 0.25s ease-in, translateY 0.4s !important;
}
html body.app .wrap .section.attract {
  min-height: 300px;
}
html body.app .wrap .section.work {
  min-height: 300px;
  position: relative;
  z-index: 1;
}
html body.app .wrap .section.work:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  max-width: 100%;
  height: 0px;
  border-top: 44px solid white;
  border-left: 0px solid white;
  border-bottom: 8px solid transparent;
  border-right: 700px solid transparent;
  right: 0;
  z-index: 2;
  bottom: -50px;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(17px 14px 5px rgba(0, 0, 0, 0.37));
}
html body.app .wrap .section.contact {
  min-height: 300px;
  padding-bottom: 180px;
  position: relative;
  text-align: center;
}
html body.app .wrap .section.contact:before {
  position: absolute;
  content: "";
  max-width: 100% !important;
  display: block;
  width: 100%;
  height: 0px;
  border-top: 11px solid transparent;
  border-left: 671px solid transparent;
  border-bottom: 39px solid white;
  border-right: 323px solid white;
  top: -48px;
  right: 0px;
}
html body.app .wrap .section.contact form {
  display: flex;
  flex-wrap: wrap;
}
html body.app .wrap .section.contact form label {
  flex: 1 100%;
  padding: 5px 0;
}
html body.app .wrap .section.contact form label input[type=text] {
  outline-offset: 0px;
  outline: solid #ffffff 2px;
  padding: 20px;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.23);
  flex: 1 100%;
  min-width: 250px;
  width: 37vw;
  max-width: 450px;
}
html body.app .wrap .section.contact form label textarea {
  outline-offset: 0px;
  outline: solid #dddddd 2px;
  padding: 20px;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.23);
  min-width: 250px;
  width: 37vw;
  max-width: 450px;
  min-height: 112px;
}
html body.app .wrap .section.contact form .grecaptcha-badge {
  right: -154px !important;
  transform: scale(0.5) !important;
  opacity: 0.4 !important;
  z-index: 90;
}
html body.app .wrap .section.contact form .grecaptcha-badge:hover {
  right: -60px !important;
  opacity: 0.8 !important;
}
html body.app .wrap #threeDom {
  width: 100% !important;
}
html body.app .header {
  left: 0;
  right: 0;
  z-index: 6;
  /*
  background: rgb(4,69,7);
  background: linear-gradient(180deg, rgba(4,69,7,1) 0%, rgba(51,134,45,1) 100%);
  box-shadow: inset 7px 9px 19px rgba(0, 0, 0, 0.5);
  */
  display: flex;
  justify-content: center;
  max-width: 100% !important;
  height: 80px;
  position: fixed;
  top: 0;
}
html body.app .header svg {
  transition: 0.3s ease;
  transform: scale(0.75);
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
html body.app .header svg:hover {
  opacity: 0.7;
}
html body.app .header button,
html body.app .header a {
  position: relative;
  height: 150px;
  width: 200px;
}
html body.app .footer {
  left: 0;
  right: 0;
  z-index: 2;
  /*
  background: rgb(4,69,7);
  background: linear-gradient(180deg, rgba(4,69,7,1) 0%, rgba(51,134,45,1) 100%);
  box-shadow: inset 7px 9px 19px rgba(0, 0, 0, 0.5);
  */
  display: flex;
  justify-content: center;
  max-width: 100% !important;
  height: 80px;
  position: fixed;
  bottom: 0;
}
html body.app .footer svg {
  transition: 0.3s ease;
  transform: scale(0.75);
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
html body.app .footer svg:hover {
  opacity: 0.7;
}
html body.app .footer button,
html body.app .footer a {
  position: relative;
  height: 150px;
  width: 200px;
  /*
  flex:0 1 300px;
  border: 0 solid red;
  border-left-width: 500px;
  border-top-width: 30px;
  border-top-color: transparent;

  width: 500px;
  border-bottom-width: 150px;
  border-right-width: 30px;
  border-right-color: transparent;
  background-color:red;

   */
}
html body.app .threeDTitle {
  text-shadow: 0 1px 0 #c9cfce, 0 2px 0 #bcc2c2, 0 3px 0 #afb6b6, 0 4px 0 #a4adac, 0 5px 0 #9fa8a7, 0 6px 0 #99a3a2, 0 7px 0 #97a1a0, 0 8px 0 #949e9d, 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 49px;
  font-family: sans-serif;
  color: #d9d9d9;
  margin: 5px auto;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media all and (max-width: 750px) {
  html body.app .wrap .section.attract .panel.loaded {
    width: 95%;
    max-width: 95% !important;
  }
  html body.app .wrap .section.attract #paneShadow {
    bottom: 17% !important;
  }
}

/*# sourceMappingURL=yardi.css.map */
