html{
    position: relative;
    height: 100%;
    body{
        height: 100%;
        position: relative;
        margin:0;
        &.app{
            .header{

            }
            .wrap{
                position: relative;
                height: 100%;
                .section{
                    width: 100%;
                    box-sizing: border-box;
                    padding: 40px;
                    &.platformer{
                        position: fixed;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                    &.attract{
                        min-height: 300px;
                    }
                    &.work{
                        min-height: 300px;
                    }
                    &.contact{
                        min-height: 300px;
                    }
                }
            }
            .footer{

            }
        }
    }
}
